@model MVCTest.Areas.Admin.Models.Content

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body class="bg-light" id="top">
  
    

    <div class="container bg-white">

        @using (Html.BeginForm("SaveEdit", "Data", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal" style="padding-left:20px">
            <h1>Giao diện sửa nội dung</h1>
            <hr />
            @*<div class="form-group" style="margin-top:20px">
                <div class="col-md-offset-3 col-md-10">
                    <button type="button" class="btn btn-success"><a href="/Admin/Data/Logout" style="text-decoration:none; color:white">Đăng Xuất</a></button>
                </div>
            </div>*@

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(Model => Model.id)
            <div class="shadow-sm rounded" style="padding:20px; margin:10px 0px;">
                <div>
                    <h2>Logo phần đầu</h2>
                </div>
                <div class="d-flex">
                    <div style="width: 50%;">
                        <div class="form-group">
                            <label>Ảnh logo</label>
                            <div class="col-md-10">
                                <input type="file" name="FileLogo" />
                                @*<div style="margin:10px 0px">
                            @Html.EditorFor(model => model.imglogo, new { htmlAttributes = new { @class = "form-control" } })
                            </div>*@

                                @Html.ValidationMessageFor(model => model.imglogo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Tên 1</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.nameLogo, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.nameLogo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Tên 2</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.groupLogo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.groupLogo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:20px">
                            <div class="col-md-offset-3 col-md-10">
                                <button type="submit" class="btn btn-success">Lưu nội dung</button>
                            </div>
                        </div>
                    </div>
                    <div style="width:50%">
                        <img width="100%" height="auto" src="~/Areas/Admin/img/1.png" />
                    </div>
                </div>
            </div>
            <div class="shadow-sm rounded" style="padding:20px; margin:10px 0px;">
                <div>
                    <h2>Slide và nội dung đầu</h2>
                </div>
                <div class="d-flex">
                    <div style="width:50%">
                        <div class="form-group">
                            <label>Ảnh slide 1</label>
                            <div class="col-md-10">
                                <input type="file" name="ImgSlide1" />
                                @*<div style="margin:10px 0px">
                                @Html.EditorFor(model => model.slideI1img1, new { htmlAttributes = new { @class = "form-control"} })
                            </div>*@
                                @Html.ValidationMessageFor(model => model.slideI1img1, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Ảnh slide 2</label>

                            <div class="col-md-10">
                                <input type="file" name="ImgSlide2" />
                                @*<div style="margin:10px 0px">
                                @Html.EditorFor(model => model.slideI1img2, new { htmlAttributes = new { @class = "form-control" } })
                            </div>*@
                                @Html.ValidationMessageFor(model => model.slideI1img2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Tiêu đề slide 1</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.slide1Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.slide1Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Tiêu đề slide 2</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.slide2Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.slide2Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Mô tả slide 1</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.slide1Desc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.slide1Desc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Mô tả slide 2</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.slide2Desc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.slide2Desc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:20px">
                            <div class="col-md-offset-3 col-md-10">
                                <button type="submit" class="btn btn-success">Lưu nội dung</button>
                            </div>
                        </div>
                    </div>

                    <img width="50%" src="~/Areas/Admin/img/2.png" />

                </div>

            </div>
            <div class="shadow-sm rounded" style="padding:20px;  margin:10px 0px;">
                <div>
                    <h2>Sản phẩm chính</h2>
                </div>
                <div class="d-flex">
                    <div style="width:50%">
                        <div class="form-group">
                            <label>Tiêu đề sản phẩm 1</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.main1Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.main1Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tiêu đề sản phẩm 2</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.main2Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.main2Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mô tả sản phẩm 1</label>


                            <div class="col-md-10">
                                @Html.EditorFor(model => model.main1Desc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.main1Desc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Mô tả sản phẩm 2</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.main2Desc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.main2Desc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Hình ảnh sản phẩm 1</label>

                            <div class="col-md-10">
                                <input type="file" name="ImgMain1" />
                                @*<div style="margin:10px 0px">
                                @Html.EditorFor(model => model.main1Img, new { htmlAttributes = new { @class = "form-control"} })
                            </div>*@
                                @Html.ValidationMessageFor(model => model.main1Img, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Hình ảnh sản phẩm 2</label>

                            <div class="col-md-10">
                                <input type="file" name="ImgMain2" />
                                @*<div style="margin:10px 0px">
                                @Html.EditorFor(model => model.main2Img, new { htmlAttributes = new { @class = "form-control" } })
                            </div>*@
                                @Html.ValidationMessageFor(model => model.main2Img, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:20px">
                            <div class="col-md-offset-3 col-md-10">
                                <button type="submit" class="btn btn-success">Lưu nội dung</button>
                            </div>
                        </div>
                    </div>
                    <div style="width:50%">
                        <img width="100%" src="~/Areas/Admin/img/3.png" />
                    </div>
                </div>
            </div>
            <div class="shadow-sm rounded" style="padding:20px; margin:10px 0px;">
                <div>
                    <h2>Sản phẩm khác</h2>
                </div>
                <div class="d-flex">
                    <div style="width:50%">
                        <div class="form-group">
                            <label> Tiêu đề sản phẩm 1</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.product1Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.product1Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Tiêu đề sản phẩm 2</label>


                            <div class="col-md-10">
                                @Html.EditorFor(model => model.product2Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.product2Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Tiêu đề sản phẩm 3</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.product3Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.product3Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Mô tả sản phẩm 1</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.product1Desc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.product1Desc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Mô tả sản phẩm 2</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.product2Desc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.product2Desc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Mô tả sản phẩm 3</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.product3Desc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.product3Desc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Hình ảnh sản phẩm 1</label>

                            <div class="col-md-10">
                                <input type="file" name="ImgProduct1" />
                                @*<div style="margin:10px 0px">
                                @Html.EditorFor(model => model.product1Img, new { htmlAttributes = new { @class = "form-control" } })
                            </div>*@
                                @Html.ValidationMessageFor(model => model.product1Img, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Hình ảnh sản phẩm 2</label>

                            <div class="col-md-10">
                                <input type="file" name="ImgProduct2" />
                                @*<div style="margin:10px 0px">
                                @Html.EditorFor(model => model.product2Img, new { htmlAttributes = new { @class = "form-control" } })
                            </div>*@
                                @Html.ValidationMessageFor(model => model.product2Img, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Hình ảnh sản phẩm 3</label>


                            <div class="col-md-10">
                                <input type="file" name="ImgProduct3" />
                                @*<div style="margin:10px 0px">
                                @Html.EditorFor(model => model.product3Img, new { htmlAttributes = new { @class = "form-control" } })
                            </div>*@
                                @Html.ValidationMessageFor(model => model.product3Img, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:20px">
                            <div class="col-md-offset-3 col-md-10">
                                <button type="submit" class="btn btn-success">Lưu nội dung</button>
                            </div>
                        </div>
                    </div>
                    <div style="width:50%">
                        <img width="100%" src="~/Areas/Admin/img/4.png" />
                    </div>

                </div>
            </div>
            <div class="shadow-sm rounded" style="padding:20px;  margin:10px 0px;">
                <div>
                    <h2>Công ty thành viên</h2>
                </div>
                <div class="d-flex">

                    <div style="width:50%">
                        <div class="form-group">
                            <label>Tên công ty 1</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.crop1Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.crop1Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Tên công ty 2</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.crop2Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.crop2Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Địa chỉ công ty 1</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.crop1address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.crop1address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Địa chỉ công ty 2</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.crop2address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.crop2address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Logo công ty 1</label>

                            <div class="col-md-10">
                                <input type="file" name="ImgCrop1" />
                                @*<div style="margin:10px 0px">
                                @Html.EditorFor(model => model.crop1Img, new { htmlAttributes = new { @class = "form-control" } })
                            </div>*@
                                @Html.ValidationMessageFor(model => model.crop1Img, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Logo công ty 2</label>

                            <div class="col-md-10">
                                <input type="file" name="ImgCrop2" />
                                @*<div style="margin:10px 0px">
                                @Html.EditorFor(model => model.crop2Img, new { htmlAttributes = new { @class = "form-control" } })
                            </div>*@
                                @Html.ValidationMessageFor(model => model.crop2Img, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Mô tả công ty 1</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.crop1Desc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.crop1Desc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Mô tả công ty 2</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.crop2Desc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.crop2Desc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:20px">
                            <div class="col-md-offset-3 col-md-10">
                                <button type="submit" class="btn btn-success">Lưu nội dung</button>
                            </div>
                        </div>
                    </div>
                    <div style="width:50%">
                        <img width="100%" src="~/Areas/Admin/img/5.png" />
                    </div>
                </div>
            </div>
            <div class="shadow-sm rounded" style="padding:20px;  margin:10px 0px;">
                <div>
                    <h2>Phần cuối Website</h2>
                </div>
                <div class="d-flex">


                    <div style="width:50%">
                        <div class="form-group">
                            <label>Mô tả</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FooterDesc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FooterDesc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Địa chỉ</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Thư điện tử</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.gmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.gmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Số điện thoại</label>

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div style="width:50%">
                        <img width="100%" src="~/Areas/Admin/img/6.png" />
                    </div>
                </div>
                <div class="form-group" style="margin-top:20px">
                    <div class="col-md-offset-3 col-md-10">
                        <button type="submit" class="btn btn-success">Lưu nội dung</button>
                    </div>
                </div>
            </div>



        </div>
        }
            <div class="form-group" style="margin-top:20px; position: fixed;bottom: 0.5rem;right: 0.5rem;">
                <div class="col-md-offset-3 col-md-10">
                    <input type="button" value="Xem Giao Diện" class="btn btn-primary" onclick="window.open('@Url.Action("Index", "Home", new {area = "" })')" />
                    <button type="submit" class="btn btn-success" style="width:fit-content; padding: 10"><a href="#top" style="text-decoration:none; color:white">Lên đầu trang</a></button>
                </div>
            </div>
    </div>
</body>
</html>
